hello
hello.exe
kadai0
kadai1/kadai1-1
kadai1/kadai1-2
kadai1/kadai1-3
kadai2/kadai2-1
kadai2/kadai2-2
kadai2/kadai2-3
kadai2/kadai2-4
kadai2/kadai2-5
kadai2/kadai2-6
kadai3/kadai3-1
kadai3/kadai3-2
kadai3/kadai3-3
kadai4/kadai4-1.exe
kadai4/kadai4-2.exe
kadai4/kadai4-3.exe
kadai4/kadai4-4
kadai4/kadai4-5
kadai4/kadai4-6
kadai5/kadai5-1
kadai5/kadai5-2
kadai5/kadai5-3
kadai5/kadai5-4
kadai5/kadai5-5
kadai5/kadai5-6
*.dSYM/
urata4.c
urata4
FinalAssignment/hodai1
FinalAssignment/hodai2
FinalAssignment/hodai3
FinalAssignment/hodai4
FinalAssignment/hodai5
FinalAssignment/hodai6
FinalAssignment/hodai7
FinalAssignment/hodai8-11
FinalAssignment/out.txt
FinalAssignment/train_00000.bmp
FinalAssignment/main
kadai6/kadai6-7
FinalAssignment/hodai16
FinalAssignment/main_NN3
kadai7/kadai7-1
kadai7/kadai7-2
kadai7/kadai7-3
kadai7/kadai7-4
urata0531.3
urata0531.3.c
*.exe
kadai8/test.dat
kadai8/test.txt
kadai8/test2.txt
urata/
FinalAssignment/main_NN6
*.dat
*.log
kadai9/kadai9-1
kadai9/kadai9-2
kadai9/kadai9-3
kadai9/kadai9-4
kadai9/kadai9-5
kadai9/kadai9-6
kadai9/kadai9-test
kadai9/kadai9-test.c
FinalAssignment/main_NNAdv
/nn.h
/t10k-images-idx3-ubyte
/t10k-labels-idx1-ubyte
/train-images-idx3-ubyte
/train-labels-idx1-ubyte
*.bmp
